.boxotp {
    background: #ececec;
    padding: 20px;
    
    .otp_headline {
    color: #434343;
    font-size: 20px;
    line-height: 35px;
    font-weight: 600;
    padding: 20px 0;
    margin: 0;
}
.btnotpchange {
    background: none;
    padding: 3px ;
    color: #ed1b24;
    outline: none;
        text-transform: capitalize;
}
}
img.otpimg{max-width:400px; margin:0 auto;}
.checkv {
margin:0 25% 3% ;
@media (max-width: @screen-sm-max){
margin:0 0 3% 0;
}
} 