// @import url(//fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic);
// @import url(//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic);
// @import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
//
// Load core variables and mixins
// --------------------------------------------------
@import "../../bootstrap-3.3.7/less/bootstrap.less";
@import "vendor.less";

@import "variables.less";
@import "fa/fontawesome.less";
@import "global.less";
@import "footer.less";
@import "header.less";
@import "bootstrap-select.less";
@import "bootstrap-select-country.less";
@import "mixins.less";
@import "datepicker.less";
@import "buttons";


//// replace bootstrap defaults
@import "pagination.less";
@import "tab_animation.less";
@import "breadcrumb.less";

@import "pdp.less";

@import "image-gallery.less";

@import "addtocart-component.less";

@import "carousel.less";

@import "components.less";

@import "product-list.less";

@import "product-facet.less";

@import "pagination-bar";

@import "item-list.less";

@import "cart.less";

@import "pickup.less";

@import "addressbook.less";

@import "login-section.less";

@import "checkout.less";

@import "coupon.less";

@import "storefinder.less";

@import "inlineLayer.less";

@import "price.less";

@import "account";

@import "quick-view-popup.less";

@import "tables.less";

@import "form-elements.less";

@import "coupon.less";

@import "faq.less";

@import "landingLayout2page.less";

// multi-d
@import "order-form.less";

@import "quick-order.less";

@import "csv-import.less";

// print
@import "print.less";
@import "rtl.less";
@import "timeslot.less";

.skip, .skiptocontent, .skiptonavigation{
	.sr-only;
}